
body {
    color: rgb(189, 145, 61);
}

main h1 {
    text-align: center;
    font-size: 40px;
}

main h2 {
    text-align: center;
    font-size: 15px;
    margin-top: -1rem;
}


.content a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 30px;
    border: 2px solid rgb(189, 145, 61);
    border-radius: 50px;
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 2.5em;
    transition: 0.3s ease all;
}


.grid1-1 {
display: grid;
grid-template-columns: 1fr 1fr;
text-align: center;
margin-top: 4rem;
}

main img {
    width: 100%;
}
