/*Body farve og margin*/ 
body {
    background-color: rgba(230, 225, 216, 0.31);
    margin: 1rem;
    padding: 1rem;
  }

/*Placering af h1, h2 og footer*/  
  h1, footer{
    text-align: center;
    color: rgb(189, 145, 61);
  }

  /*Billede størrelse*/  
main img {
    width: 100%;
    }

    /*Farver og styling af knapper*/  
.content a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: 2px solid rgb(189, 145, 61);
    border-radius: 50px;
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 2.5em;
    transition: 0.3s ease all;
  }
  
  .content {
    text-align: center;
  }
  
  .content :hover {
  color: white;
  background-color: rgb(189, 145,61);
  }
  
  /* header */
  .banner {
      border-bottom: 1px solid black;
      border-color: rgb(189, 145, 61);
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .main-menu ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 2em;
      margin-top: 1em;
      color: #000;
    }
    
    /* burgermenu */
    .toggle-btn {
      background: transparent;
      border: none;
      min-width: 44px;
      min-height: 44px;
      font-size: 1.1rem;
      cursor: pointer;
      display: none; 
    }
    
    @media (max-width: 600px) {
      .toggle-btn {
        display: block; 
      }
    
      .main-menu {
        display: contents; 
      }
    
      .main-menu ul {
        display: none; 
      }
    
      .main-menu.shown ul {
        border-top: 1px solid rgb(189, 145, 61);
        padding-top: 1rem;
        display: flex;
        flex: 1 1 100%;
        flex-flow: column;
      }
  
        .main-menu.shown ul :visited{
          color: rgb(0, 0, 0);
         }
  
         .main-menu.shown ul a {
          color: rgb(0, 0, 0);
         }
  
         .main-menu.shown ul :hover{
          color: rgb(189, 145, 61);
         }
    }
  
  /*Styling af links i web format*/ 
  .main-menu ul :visited{
    color: rgb(0, 0, 0);
   }
  
   .main-menu ul a {
    color: rgb(0, 0, 0);
   }
  
   .main-menu ul :hover{
    color: rgb(189, 145, 61);
   }
  
   .main-menu a {
  text-decoration: none;
   }
  
   @media (min-width: 800px) {
    body {
      display: grid;
      max-width: 800px;
      margin: auto;
   
   }
   
       main {
       display: grid;
       max-width: 800px;
       margin: auto;
   
           }
  
    nav ul {
      align-items: center;
      font-size: 12px;
    }       
  
   }

/*section mellemrum*/  

.uddannelse {
    margin-top: 3rem;
}

.uddannelse h3 {
    margin-top: 2rem;
}

.arbejde {
margin-top: 3rem;
}

.arbejde h3 {
    margin-top: 2rem;
    }

.Sprog {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

h2 {
    color: rgb(189, 145, 61);
    text-decoration-line: underline;
}

p {
    text-decoration: none;
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
}

/*Fonte*/  
h2, h3, p, li {
  font-family: 'Open Sans', sans-serif;
}

.uddannelse p {
  margin-top: -1rem;
}

.uddannelse h3 {
  margin-top: -0.5rem;
}

.arbejde h3 {
  margin-top: -0.3rem;
}
.arbejde p {
  margin-top: -1rem;
}

.Sprog ul {
  margin-top: -0.5rem;
}