/*mobile site om mig*/  

.uddannelse {
  margin-top: -0.5rem;
}

.uddannelse h3 {
margin-top: -0.5rem;
}

.uddannelse p {
margin-top: -1rem;
}


.kontakt ul {
  list-style: none;
  margin-left: -2.5rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-size: 12px;
  font-weight: bold;
}

main h2 {
text-align: left;
}

main h3 {
  font-size: 15px;
}

/*Styling af kontakt formular*/
form {
  display: grid;
  gap: 1.5rem;
  background: hsl(39, 67%, 92%);
  border-radius: 8px;
  width: 100%;
  margin-top: -1em;
  margin-bottom: 5rem;
}

label,
input,
textarea,
select,
button {
display: block;
}

.form-felt {
display: grid;
gap: 3px;
}

.kontaktinfo {
margin-top: 0rem;
}

.kontakt2 h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 800px) {

.grid_1-1 {
display: grid;
grid-template-columns: 1fr 2fr;
}

.kontakt {
  margin-left: 5rem;
}
.imgclass {
  margin-right: -4rem;
  margin-top: 0.7rem;
}

.kontakt2 {
  margin-top: 4rem;
}

footer {
  margin-bottom: -7rem;
}

}