/*mobile site om mig*/  

.uddannelse {
  margin-top: -0.5rem;
}

.uddannelse h3 {
margin-top: -0.5rem;
}

.uddannelse p {
margin-top: -1rem;
}

.arbejde {
margin-top: 2rem;
}

.arbejde h3 {
  margin-top: -0.3rem;
  }

.arbejde p {
margin-top: -1rem;
}

.Sprog {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.Sprog ul {
margin-top: -0.5rem;
}

.kontakt ul {
  list-style: none;
  margin-left: -2.5rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-size: 12px;
  font-weight: bold;
}

main h2 {
text-align: left;
}

main h3 {
  font-size: 15px;
}


