/*Body farve og margin*/
body {
  background-color: rgba(230, 225, 216, 0.31);
  margin: 1rem;
  padding: 1rem;
}

/*Billede størrelse*/
main img {
  width: 100%;
}

/*Fonte*/
h2,
h3,
p,
ul,
a {
  font-family: "Open Sans", sans-serif;
}

/*Placering af h1, h2 og footer*/
h1,
footer {
  text-align: center;
  color: rgb(189, 145, 61);
}

h2 {
  color: rgb(189, 145, 61);
}

.footer {
  margin-top: 2rem;
  margin-bottom: -0.5rem;
  font-size: 12px;
}

footer {
  border-top: 1px solid rgb(189, 145, 61);
  padding: 2rem;
}

/*Styling af p og ul i mobile*/
main p {
  text-decoration: none;
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 2.5rem;
  line-height: 1.5rem;
}

main ul {
  font-size: 12px;
}

/*Farver og styling af knapper*/
.content a {
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border: 2px solid rgb(189, 145, 61);
  border-radius: 50px;
  padding: 10px 40px;
  margin-top: 20px;
  margin-bottom: 2.5em;
  transition: 0.3s ease all;
}

.content {
  text-align: center;
}

.content :hover {
  color: white;
  background-color: rgb(189, 145, 61);
}

/*Styling af links*/
.main-menu ul :visited {
  color: rgb(0, 0, 0);
}

.main-menu ul a {
  color: rgb(0, 0, 0);
}

.main-menu ul :hover {
  color: rgb(189, 145, 61);
}

.main-menu a {
  text-decoration: none;
}

/* header */
.banner {
  border-bottom: 1px solid black;
  border-color: rgb(189, 145, 61);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2em;
  margin-top: 1em;
  color: #000;
}

/* burgermenu */
.toggle-btn {
  margin-left: -1.3rem;
  margin-bottom: -1rem;
  color: rgb(189, 145, 61);
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }

  .main-menu {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    border-top: 1px solid rgb(189, 145, 61);
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  .main-menu.shown ul :visited {
    color: rgb(0, 0, 0);
  }

  .main-menu.shown ul a {
    color: rgb(0, 0, 0);
  }

  .main-menu.shown ul :hover {
    color: rgb(189, 145, 61);
  }

  h2 {
    text-align: center;
  }

  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 16px;
  }

}

/*Web format*/
@media (min-width: 800px) {
  body {
    display: grid;
    max-width: 800px;
    margin: auto;
  }

  main {
    display: grid;
    max-width: 800px;
    margin: auto;
  }

  nav ul {
    align-items: center;
    font-size: 12.8px;
  }

  .footer {
    margin-top: 4rem;
  }

  footer {
    border-top: 1px solid rgb(189, 145, 61);
    padding: 2rem;
  }

  main p {
    text-decoration: none;
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
  }

  main ul {
    font-size: 14px;
  }

  main h2 {
    font-size: 20px;
  }

  .content a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: 2px solid rgb(189, 145, 61);
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 2.5em;
    transition: 0.3s ease all;
  }

  .content {
    text-align: center;
  }

  .content :hover {
    color: white;
    background-color: rgb(189, 145, 61);
  }
}
