
main p {
font-size: 16px;
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-top: 1em;
    }


.grid1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.storyboard {
margin-left: 2rem;
margin-top: -1em;
font-size: 15.7px;
}

.musik {
margin-top: 2rem;
margin-bottom: 2rem;
}

.footer {
    margin-top: 2rem;
    margin-bottom: -1em;
}
