/*Mobilformat "UX"*/ 

h2 {
    margin-bottom: 2rem;
}

main img {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

/*specifikke paragraphs*/ 
.pitch {
    margin-bottom: -0.5rem;
}

.tema3 {
    margin-bottom: -2rem;
}

.pitchp {
margin-top: -1.5rem;
margin-bottom: 4rem;
}

/*Farver og styling af knap "pitch"*/  
.content2 a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 2px solid rgb(189, 145, 61);
    border-radius: 50px;
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 2.5em;
    transition: 0.3s ease all;
  }
  
  .content2 {
    text-align: center;
  }
  
  .content2 :hover {
  color: white;
  background-color: rgb(189, 145,61);
  }

  /*billede nederst på siden*/  
.puppe {
    width: 13%;
    margin-left: 9rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    }

/*Webformat "UX"*/ 

@media (min-width: 800px) {

    h2 {
        text-align: center;
    }


/*interviews*/     
.grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top: 0.5rem;
    }

main h2 {
    margin-top: 1rem;
}    

.pitchp {
    margin-bottom: -1rem;
}  

/*pitch*/  
.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}

.imgclass {
    margin-top: -1.5rem;
    margin-right: 5.5rem;
}

.pitch {
    margin-left: -3.6rem;
    margin-bottom: -1.5rem;
    margin-top: 2rem;
}

.tema3 {
    margin-left: -3.2rem;
    margin-top: -0.5rem;
}

/*knap (pitch)*/ 
.content2 a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: 2px solid rgb(189, 145, 61);
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 2.5em;
    transition: 0.3s ease all;
  }

.content2 {
    margin-left: -5rem;
    margin-top: -15rem;
}  

/*billede nederst på siden*/   
.puppe {
    width: 8%;
    margin-left: 19.8rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    }

}