
img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}


@media (min-width: 800px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

.imgclass {
    order: -1;
    margin-top: 2.6rem;
    margin-right: 2rem;
}

.pc {
    order: 1;
    margin-top: -8rem;
}

.content {
margin-top: -1rem;
margin-left: -2rem;
}

.grid_1-2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

.imgclass2 {
    order: 1;
    margin-top: -33.5rem;
    margin-right: 2rem;
    margin-left: 4rem;
}

.pc2 {
    order: -1;
    margin-top: 5rem;
    margin-bottom: -1rem;
}

.pclass2 {
    margin-left: -20rem;
}

}