
.grid1-1 {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2em;
}

h2 {
    font-size: 25px;
    margin-top: 2.5rem;
}

main img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.tema3 {
    margin-bottom: -2rem;
}

.pitchp {
margin-top: -1.5rem;
margin-bottom: 4rem;
}


@media (min-width: 800px) {


}