/*Mobilformat "introuge"*/  

/*video*/  
iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-top: 0em;
    margin-bottom: 0.5rem;
    }

/*storyboard + musik*/      
.grid1-1{
    display: grid;
    grid-template-columns: 1fr;
}

.storyboard {
margin-top: 0.2em;
margin-bottom: 5rem;
}

.storyboard h2 {
    margin-top: 2em;
}

.storyboard p {
margin-bottom: 1em;
}

/*billede nederst på siden*/  
.puppe {
    width: 20%;
    margin-left: 8.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    }

/*Webformat*/  

@media (min-width: 800px) {

/*præsentationskort*/       
.grid2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
}

.imgclass {
order: -1;
margin-top: -6.6rem;
margin-right: 5.2rem;
}

.præs {
margin-left: 21.5rem;
margin-top: -1.5rem;
}

.tema1 {
   order: -1;
   margin-top: -5.5rem;
   margin-left: -3.4rem;
}

/*main*/ 
main h2 {
  margin-top: 4rem;
}

/*titelsekvens*/ 
.grid1-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.titelsek {
    margin-top: -1rem;
}

.grid1-2 p {
    margin-top: -0.5rem;
    margin-left: 0rem;
}

.grid1-2 .vid {
    order: 2;
    margin-left: 2rem;
    margin-top: -1.2rem;
}

/*storyboard + musik*/      
.grid1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.storyboard {
margin-left: 2rem;
margin-top: -1.5em;
font-size: 15.6px;
margin-bottom: 5rem;
}

.storyboard h2 {
    margin-left: -0.2rem;
    margin-top: 1em;
}

.storyboard p {
margin-bottom: 1em;
}

/*billede nederst på siden*/   
.puppe {
    width: 15%;
    margin-left: 21rem;
    margin-top: 5rem;
    margin-bottom: -2rem;
    } 

 }